name: E2E - Authentik v2024.12

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'packages/core/**'
      - 'e2e/providers/authentik/**'
      - 'e2e/providers/shared-tests.ts'
      - 'e2e/providers/types.ts'
  pull_request:
    branches: [main]
    paths:
      - 'packages/core/**'
      - 'e2e/providers/authentik/**'
      - 'e2e/providers/shared-tests.ts'
      - 'e2e/providers/types.ts'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    uses: ./.github/workflows/e2e-provider.yml
    with:
      provider: authentik
      version: v2024-12
      port: '9025'
      image: ghcr.io/goauthentik/server:2024.12.2
